.App {
  text-align: center;
  height: 88vh;
}

.App-header {
  height: 13vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 2px 4px 0 #25272c;
}

.logo {
  margin-left: 20px;
  color: blanchedalmond;
}

.nav {
  /* background-color: rgb(203, 180, 146); */
  display: flex;
  margin: 0 10px 0 10px;
}

.navlist {
  /* background-color: rgb(96, 137, 167); */
  list-style: none;
  display: flex;
  justify-content: center;
}

.navlist>li {
  padding: 10px;
}

.audio-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: violet; */
  height: 100%;
}

.audio-player {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1DB954;
  padding: 10px;
  padding-top: 20px;
  border-radius: 50px;
}

.audio-player audio {
  width: 80%;
}

.audio-player .play-pause {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  /* border-radikuus: 5px; */
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.audio-player .play-pause:hover {
  background-color: #0d8bf2;
}

.album-cover {
  width: 50%;
}